<article class="priority-card" style="display: none">
  <a href="{{ content.field_link.0['#url'] }}" class="priority-card__link">
    {{ content.field_image }}
    <h3 class="priority-card__title">{{ content.field_title }}</h3>
  </a>
</article>