<div class="social-card ">
  <a href="{{ content.field_link }}" class="social-card__link">
    <div class="social-card__content">
      <div class="social-card__wrap">
        {{ content.field_description }}
        <div class="social-card__footer">
          <span class="social-card__icon">
            <img src="/{{ directory }}/assets/img/svg/icon-twitter-white.svg" alt="Twitter">
          </span>
          <span class="social-card__user">@penn</span>
        </div>
      </div>
    </div>
  </a>
</div>
