.gallery-card {
	padding: 0 1px;

	&:focus {
		outline: none
	}

	&__controls {
		padding-top: 15px;

		.gallery-slider--active & {
			padding-top: 70px;
		}
	}

	&__numbers {
		font-size: 1.4rem;
		font-weight: 500;
		color: #767676;
		letter-spacing: 0.5px;
		flex: 0 1 75px;
		padding-top: 7px;
	}

	&__current {
		color: #171616;
	}

	&__text {
		font-family: $sans;
		font-size: 1.5rem;
		line-height: 1.866666667;
		color: $text-color;
		margin: 0;
		flex: 0 1 100%;

		padding-top: 5px;

		@media #{$large-up} {
			font-size: 1.7rem;
			line-height: 1.647058824;
		}
	}

	&__buttons {
		flex: 0 1 60px;
		height: 52px;
		width: 60px;
		padding-right: 5px;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;

		@media #{$xlarge-up} {
			align-self: flex-end;
			order: 3;
		}
	}

	&__button {
		border: none;
		background: none;
		height: 52px;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;

		svg {
			width: 10px;
			height: 14px;
		}

		&[data-direction="prev"] {
			svg {
				transform: rotate(180deg);
			}
		}

		.fill {
			fill: $blue;
			transition: $animation;
		}

		&:hover,
		&:focus {
			.fill {
				fill: $red;
			}
		}

		&[disabled] {
			cursor: default;
			opacity: 0.5;

			&:hover,
			&:focus {
				.fill {
					fill: $blue;
				}
			}
		}
	}
}

.gallery {
	&:focus {
		outline: none;
	}

	.slick-slide {
		&:focus {
			outline: none;
		}
	}
}