<div class="facts-sidebar">
  <h2 class="facts-sidebar__title">{{ content.field_title }}</h2>
  {{ content.field_description_formatted }}
  <div class="facts-sidebar__facts">
    {{ content.field_penn_entity_reference }}
    {{ content.field_paragraph_reference }}
  </div>
</div>
