<div class="fact fact--card">
  <figure class="fact__figure">
    <p class="fact__title">{{ content.field_title }}</p>
    <figcaption class="fact__caption">{{ content.field_description }}</figcaption>
  </figure>
</div>
