<section class="student-spotlight student-spotlight--reverse">
  <div class="contain student-spotlight__flex">
    <div class="student-spotlight__column student-spotlight__column--wide">
      {{ content.field_penn_entity_reference }}
    </div>
    <div class="student-spotlight__column">
      <figure>
        {{ content.field_image }}
        <figcaption class="student-spotlight__caption" style="max-width: 314.766px;">
          <span class="student-spotlight__caption-title">{{ content.field_title }}</span>{{ content.field_description }}</figcaption>
      </figure>

    </div>
  </div>
</section>
