<div class="contain contain--no-padding">
  <div class="offset-card-w-image offset-card-w-image__align-{{ content.field_align }}">
    <div class="offset-card-w-image__image">
      {{ content.field_image }}
    </div>
    {{ content.field_featured_initiative_card }}
  </div>
</div>