<div class="featured-story featured-story--{{ content.field_align }}">
  <picture>
    <source srcset="{{ content.field_image }}" media="(min-width:768px)"/>
    {{ content.field_image_mobile }}
  </picture>
  <div class="featured-story__contain">
    {{ content.field_featured_initiative_card }}
  </div>
</div>
