<div class="a-to-z" data-letter="{{- content.field_title -}}">
  <div class="contain">
    <h2 class="a-to-z__letter">{{- content.field_title -}}</h2>
    <ul class="a-to-z__list">
      {{ content.field_a_z_link }}
    </ul>
  </div>
</div>
