<div class="contain">
  <nav class="quick-links quick-links--wide section-margin-bottom">
    <h2 class="quick-links__title">{{ content.field_title }}</h2>
    <ul class="quick-links__list">
      {{ content.field_quick_link }}
    </ul>
  </nav>
</div>
