#top {
	position: relative;
	transition: all .2s .1s;
	margin: auto;
	z-index: 2;

	@include msedge_ie11 {
		overflow: hidden;
	}
}

.for-print {
	display: none !important;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #FFF;
	color: $black;
	font-family: $sans;
	font-size: 1.6rem;
	line-height: $base-line-height;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.modal-open {
		overflow-y: hidden;
	}
}

* {
	box-sizing: border-box;
}

main {
	display: block;
}

// Images
img {
	height: auto;
	margin: 0;
	max-width: 100%;
	vertical-align: bottom;
}

svg {
	margin: 0 auto;
}

figure {
	margin: 0;
	max-width: 100%;
}

figcaption {
	text-align: left;
}

// Forms
fieldset {
	border: 0;
	margin: $base-line-height 0;
	padding: 0;
}

legend {
	margin-left: 0.5em;
	padding: 0 0.5em;
}

label {
	cursor: pointer;
	display: inline-block;
}


a,
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
	cursor: pointer;
	outline: none;

	.no-js & {
		&:focus {
			outline: 1px dotted #000;
		}
	}

	.js .keyboard--focus & {
		&:focus {
			outline: 1px dotted #000;
		}
	}
}

.svgs,
.svg-hide {
	display: none;
}


button {
	appearance: none;
	border: 0;
	font-family: $base-font-family;
	background: none;
	padding: 0;
}



legend {
	color: $black;
	font: 1rem/1.625 $base-font-family;
}

p {
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2;
	margin-bottom: 2em;
}


table {
	width: 100%;
	border: 5px solid #E3E4E6;
	border-collapse: collapse;
	font-family: $sans;
	margin-bottom: 50px;

	thead {
		text-align: left;

		th {
			background: $blue;
			color: #FFF;
			font-weight: 500;
			font-size: 1.8rem;
			letter-spacing: 0;
		}
	}

	thead,
	tbody {
		th {
			background: $blue;
			color: #FFF;
			font-weight: 500;
			font-size: 1.8rem;
			letter-spacing: 0;
		}
	}

	tbody {
		th {
			border-bottom: 2px solid #F2F2F2;
		}

		td {
			border-bottom: 2px solid #F2F2F2;
			font-size: 1.7rem;
			color: $text-color;
			letter-spacing: 0;
			line-height: 1.647058824;
		}

		tr:last-child {
			td {
				border-bottom: none
			}
		}
	}

	td,
	th {
		padding: 25px;
	}
}

blockquote,
.wysiwyg blockquote {
	border-left: 1px solid #DFDFDF;
	padding-left: 30px;
	margin: 50px auto 80px;
	max-width: 950px;

	p {
		font-family: $serif;
		font-size: 2.6rem;
		color: #000000;
		letter-spacing: 0;
		line-height: 1.666666667;

		@media #{$tablet-up} {
			font-size: 3.3rem;
		}
	}

	cite,
	p.cite {
		font-size: 1.4rem;
		color: $primary;
		letter-spacing: 1.87px;
		text-transform: uppercase;
		font-style: normal;
		font-family: $sans;
	}
}

a.cta {
	display: inline-block;
	font-family: $serif;
	font-size: 2.4rem;
	color: $blue;
	letter-spacing: 0;
	text-decoration: none;
	position: relative;
	transition: $animation;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	&--arrow {
		&::after {
			content: '';
			display: inline-block;
			background: url(/themes/custom/penn_global/assets/img/svg/icon-cta-link.svg) no-repeat 50% 50%;
			width: 19px;
			height: 19px;
			border: 1px solid #DADADA;
			border-radius: 100%;
			margin-left: 20px;
			position: relative;
			top: 5px;
			transition: inherit;
		}

		&:hover,
		&:focus {
			&::after {
				background-color: $blue;
				background-image: url(/themes/custom/penn_global/assets/img/svg/icon-cta-link-hover.svg);
				border-color: $blue;
			}
		}
	}
}

hr {
	border: 0;
	background: $gray-border;
	height: 1px;
	margin: 20px 0;

}

@media print {
	* {
		color: #000 !important;
		background-color: transparent !important;
		background-image: none !important;
	}

	img {
		max-height: 300px;
		width: auto !important;
		page-break-inside: avoid;

	}
}