<div class="page-header-hero__figure page-header-hero__figure--quote">
  <picture class="page-header-hero__picture {{ content.field_select_list }}">
    {{ content.field_image }}
  </picture>
  <blockquote class="page-header-hero__quote">
    <p>{{ content.field_quote }}</p>
    <cite>{{ content.field_quote_author }}</cite>
  </blockquote>
</div>