.gallery-grid {
	@media #{$tablet-up} {
		display: flex;
	}

	&__col {
		@media #{$tablet-up} {
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			justify-content: space-evenly;

			&:first-child {
				flex: 0 1 calc(60% - 20px);
				width: 100%;
				margin-right: 20px;
			}

			&:last-child {
				flex: 0 1 40%;
				width: 100%;
			}
		}
	}

	&__item {
		margin-bottom: 15px;
		text-decoration: none;
		display: block;

		&:hover,
		&:focus {
			.gallery-grid__img {

				&:before,
				&:after {
					opacity: 1;
				}
			}
		}
	}

	&__title {
		font-size: 2rem;
		color: $primary;
		font-family: $serif;
		margin-bottom: 10px;
		font-weight: normal;
	}

	&__img {
		position: relative;

		img {
			width: 100%;
		}

		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba($primary, .8);
			opacity: 0;
			transition: opacity .125s ease-in-out;
		}

		&:after {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) rotate(180deg);
			background: url(../../assets/img/svg/icon-featured-slider-arrow.svg) no-repeat 50% 50% #fff;
			border-radius: 100%;
			border: 2px solid $gray-border;
			width: 56px;
			height: 56px;
			opacity: 0;
			transition: opacity .125s ease-in-out;
		}
	}
}