<section class="fact-list">
  <h2 class="fact-list__title">{{ content.field_title }}</h2>
  <ul class="fact-list__list">
    {{ content.field_penn_entity_reference }}
    {{ content.field_paragraph_reference }}
  </ul>
</section>
