{% set fact_link_class = render_var(content.field_button_link) is not empty ? 'fact--link' : '' %}
<div class="fact {{ fact_link_class }}">
  <figure class="fact__figure">
    <p class="fact__title">{{ content.field_title }}</p>
    <figcaption class="fact__caption">{{ content.field_description }}</figcaption>
  </figure>
  {{ content.field_button_link }}
</div>
