{% set entity_id = content.penn_entity.id() %}
<li class="link-grid__item">
  <a href="{{ content.field_link }}" class="link-grid__link" data-grid="link-grid__image--{{ entity_id }}">
    <span class="link-grid__link-text">{{ content.field_title }}</span>
  </a>
</li>
