.a-to-z {
	margin-bottom: 59px;



	&__letter {
		font-family: $serif;
		font-size: 5rem;
		color: #2B2B2B;
		letter-spacing: 0;
		font-weight: 700;
		margin-bottom: 32px;
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;

		@media #{$tablet-up} {
			display: flex;
			flex-wrap: wrap;
			justify-items: stretch;
			justify-content: space-between;
		}
	}

	&__item {
		margin-bottom: 10px;

		&--hidden {
			display: none;
		}

		@media #{$tablet-up} {
			width: calc(50% - 6px);
			flex: 0 1 calc(50% - 6px);
			display: flex;
			flex-direction: column;

			&--hidden {
				display: none;
			}
		}
	}

	&__link {
		font-family: $serif;
		font-size: 2rem;
		color: $blue;
		letter-spacing: 0;
		display: block;
		background: #FFF;
		border: 5px solid $gray-border;
		text-decoration: none;
		padding: 23px 20px;
		transition: all .25s ease;

		@media #{$tablet-up} {
			height: 100%;
		}

		&:hover,
		&:focus {
			background: $blue;
			border-color: $blue;
			color: #FFF;
		}
	}
}


.a-z-search {
	background: #F2F2F3;
	padding: 40px 0;
	margin-bottom: 84px;

	@media #{$large-up} {
		padding-bottom: 0;
	}

	.contain {
		max-width: 1040px;
	}

	&__form {
		&:focus {
			outline: none;
		}
	}

	&__input,
	&__input::placeholder {
		font-family: $serif;
		font-size: 1.8rem;
		color: $blue;
	}

	&__input {
		background: none;
		width: calc(100% - 48px);
		border: none;
		padding-left: 0;
		padding-right: 0;

		&:focus {
			outline: none;
		}
	}

	&__submit {
		width: 48px;
		height: 48px;
		display: block;
		text-align: right;
		position: relative;

		svg {
			fill: $blue;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__row {
		border-bottom: 1px solid $gray-border;
		display: flex;
		justify-content: space-between;
		margin-bottom: 48px;
	}

	&__label {
		font-family: $sans;
		font-size: 1.5rem;
		color: $text-color;
		line-height: 1.866666667;
	}

	&__select {
		display: block;
		width: 100%;
		height: 42px;
		border-radius: 0;
		background: url('../img/svg/icon-down-triangle.svg') no-repeat 98% 50% transparent;
		border: none;
		font-family: $serif;
		font-size: 1.5rem;
		color: $blue;
		text-align: left;
		padding: 0 0 12px;
		border-bottom: 1px solid $gray-border;
		position: relative;
		transition: $animation;
		outline: none;
		appearance: none;

		&::-ms-expand {
			display: none;
		}

		&-wrap {
			@media #{$large-up} {
				display: none;
			}
		}
	}

	&__buttons {
		display: none;

		@media #{$large-up} {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__button {
		font-family: $sans;
		font-size: 1.8rem;
		color: $blue;
		text-transform: uppercase;

		height: 48px;
		min-width: 30px;
		border-bottom: 4px solid transparent;
		margin-right: 5px;

		&:last-child {
			margin-right: 0;
		}

		&:disabled {
			cursor: default;
			opacity: .4;

			&:hover,
			&:focus {
				color: inherit;
			}
		}

		&:hover,
		&:focus {
			color: $red;
		}

		&--active {
			border-color: $red;
		}
	}

}

.no-results {
	display: none;

	&--active {
		display: block;
	}
}

@media print {
	.a-z-search {
		display: none;
	}

	.a-to-z {
		&__list {
			display: flex;
			flex-wrap: wrap;
			justify-items: stretch;
			justify-content: space-between;
		}

		&__item {
			width: calc(50% - 6px);
			flex: 0 1 calc(50% - 6px);
			display: flex;
			flex-direction: column;
		}

		&__link {
			height: 100%;
		}
	}
}