.alert {
	position: relative;

	.js & {
		display: none;
	}

	@media #{$large-up} {
		text-align: center;
	}

	&:after {
		content: "";
		position: absolute;
		top: 10px;
		left: 10px;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		pointer-events: none;
		border: 1px solid rgba(#fff, .72);
	}

	&--primary {
		background: $light_blue;
		color: $primary;
	}

	&--secondary {
		background: $yellow;
		color: $primary;
	}

	&--emergency {
		position: fixed;
		top: 0;
		z-index: 101;
		width: 100%;
		height: 100vh;
		background: $primary;
		color: #fff;

		.alert__message {
			padding-top: 100px;

			@media #{$large-up} {
				padding-top: 0;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 1000px;
			}
		}

		.alert__close {
			color: #fff;
			transform: none;
			top: 30px;

			svg {
				fill: #fff;
			}
		}

	}

	&__message {
		padding: 20px 0;

		@media #{$tablet-only} {
			padding-left: 30px;
		}

		@media #{$large-down} {
			padding-right: 50px;

		}

		p {
			margin: 0;
			line-height: 1.6;

			.alert--emergency & {
				font-size: 3.6rem;

				@media #{$large-down} {
					font-size: 2.6rem;
				}
			}

			&.alert__title {
				font-size: 2.3rem;
				margin-bottom: 10px;
			}
		}

		a {
			color: $primary;

			.alert--emergency & {
				color: #fff;
				margin: 0;
				display: inline;
			}
		}
	}



	&__close {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		color: $primary;

		@media #{$large-up} {
			right: 30px;

		}

		svg {
			fill: $primary;
			display: inline-block;
		}

		span {
			font-size: 1.3rem;
			text-transform: uppercase;
			font-weight: 500;
			display: block;

			@media #{$large-up} {
				display: inline-block;
				vertical-align: top;
				margin: 2px 0 0 10px;
			}
		}
	}
}

body.alert-emergency {
	overflow: hidden;
}