<div class="video">
  <div class="contain contain--no-padding">
    <div class="video-inline video-autoplay">
      <video loop muted playsinline autoplay="autoplay" class="video-inline__video ">
        <source src="{{ content.field_video_source }}" type="video/mp4"/>
      </video>
      <button class="video-button video-button--play-toggle video-button--pause">
        <span class="video-button__circle">
          <span class="icon"></span>
        </span>
        <span class="a11y">Play</span>
      </button>
    </div>
  </div>
</div>
