{# button_link_class: see penn_entity_preprocess_field #}
{% for item in items %}
  <a href="{{ item.content['#url'] }}" class="btn btn--outline {{ item.content['#button_link_class']}}">{{ item.content['#title'] }}</a>
{% endfor %}
