{# button_link_class: see penn_entity_preprocess_field #}
{% for item in items %}
  <div class="hero-full-width__button-link">

  <a href="{{ item.content['#url'] }}" class="btn btn--outline-white {{ item.content['#button_link_class']}}">{{ item.content['#title'] }}</a>
  </div>
{% endfor %}
