<section class="penn-priorities">
  <div class="contain contain--wide">
    <header class="section-header section-header--centered section-header--dark section-header--bottom-padding">
      <h2 class="section-header__title">{{ content.field_title }}</h2>
      {{ content.field_description }}
    </header>
  </div>
  <div class="penn-priorities__cards" data-slider="center-to-edge">
    {{ content.field_penn_entity_reference }}
  </div>
  <div class="penn-priorities__arrows"></div>
</section>