{% if page.alert|render is not empty %}
  <div class="alert-content">
    {{ page.alert }}
  </div>
{% endif %}
{% include '@penn_global/layouts/header.html.twig' %}
<main id="content" class="page-error page-error__404">
  <header class="page-header-hero section-margin-bottom">
    <div class="contain">
      <div class="page-header-hero__content">
        <div class="page-header-hero__content__contain">
          <div>
            <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
              <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
              <ul class="breadcrumb">
                <li class="breadcrumb__item">
                  <span>
                    <a href="/">Home</a>
                  </span>
                  <span class="breadcrumb__divide">/</span>
                </li>
                <li class="breadcrumb__item">
                  <span>
                    Sorry, your page can not be found! (404)
                  </span>
                </li>
              </ul>
            </nav>
          </div>
          <div class="wysiwyg intro">
            <h1>
              <span property="schema:name" data-quickedit-field-id="node/99/title/en/full">Sorry, your page can not be found! (404)</span>
            </h1>
            <div class="contain section-margin" >
            <h3>“Never ruin an apology with an excuse.”<br>
              — Benjamin Franklin</h3>
            </div>

            <p>
            The page that you are looking for might have been removed, had its name changed or be temporarily unavailable. The following pages and utilities might help you along your way:
            </p>
            <p>
              <a href="https://www.upenn.edu/">University Homepage</a><br>
              <a href="https://www.upenn.edu/search">Search</a><br>
              <a href="https://www.upenn.edu/penn-a-z">A-Z Index</a><br>
              <a href="https://www.upenn.edu/about/faq">FAQ</a>
            </p>

            <p>
            If you have further questions or have a found a broken link, please send the&nbsp;<a href="mailto:webmaster@upenn.edu">webmaster</a>&nbsp;a quick note and include the URL of the page you were viewing and the link that was broken.
            </p>
            <p></p>
          </div>
        </div>
      </div>
      <div class="page-header-hero__figure ">
        <picture class="page-header-hero__picture ">
          <img src="/themes/custom/penn_global/assets/img/penn-quaker-arms-hips.jpg" width="711" height="711" alt="penn quaker posing in the palestra" typeof="foaf:Image" class="page-header-hero__image">
        </picture>
      </div>

    </div>
  </header>

  {% if page.suffix %}
    {{ page.suffix }}
  {% endif %}
</main>
{% include '@penn_global/layouts/footer-upstream.html.twig' %}
